<div class="container-fluid p-4">
    <div class="container text-center">
        <!--  -->
        <!-- <div class="row mb-4" *ngIf="showturf">
          <table class="table table-striped">
            <h3>Turf 10 Wakad</h3>
            
              <tbody>
                <tr >
                  <td>
                    <img src="assets/img/cricket.jpg" class="card-img-top rounded mx-auto d-block " alt="..." height="150px" width="150px">
                  </td>
                  
                  <td>
                    Address : HQQ8+JWP, Unnamed Road, Wakad, Pimpri-Chinchwad, Maharashtra 411057
                  </td>
                  <td>
                    <a class="btn btn-success" (click)=toggleDisplayDiv()>Book Now</a>
                  </td>
                </tr>
             
              </tbody>
        </table>
        </div> -->
        <div class="row mb-4" *ngFor="let item of details" >
          <div class="col-md-6">
            <h3> {{item.turfname}}</h3>
            <div>
              <h3> Address  : </h3> {{address}}
            </div>
          </div>
          <div class="col-md-6">
          <form [formGroup]="turfForm"> 
            
            <div class="formGroup" style="visibility: hidden;">
              <label for="regid" class="form-label">regid</label>
              <input class="form-control" formControlName="regid" [(ngModel)]="item.regid" readonly>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Name</label>
              <input class="form-control" formControlName="firstname" >
              <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)">
                <div *ngIf="firstname?.hasError('required')" style="color: red;">
                  Name is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Mobile Number</label>
              <input class="form-control" formControlName="mobileno">
              <div *ngIf="mobileno?.invalid && (mobileno?.dirty || mobileno?.touched)">
                <div *ngIf="mobileno?.hasError('required')" style="color: red;">
                  Valid Mobile is required.
                </div>
              </div>
            </div>
            
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label" style="text-align: left;">Select Your Time Slot</label><br>
                
           
              <div *ngFor="let slot of slots; let i = index" class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [id]="'slotType' + i" name="slotType" [value]="slot" (change)="onSlotTypeChange($event)" (change)="onTimeSlotChange($event)">
                <label class="form-check-label" [for]="'slotType' + i">{{ slot }}</label>
              </div>
            
              <!-- Time Slot Dropdown (Dynamic) -->
              <select class="form-select mt-3" formControlName="timeslots" [disabled]="!selectedSlot" >
                <option *ngFor="let slot of filteredSlots" [value]="slot">{{ slot }}</option>
              </select>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Rate</label>
                <input class="form-control" formControlName="amount" hidden>
                <input class="form-control" formControlName="total" readonly>
              </div>
              <!-- <ngx-qrcode
  [elementType]="elementType"
  [errorCorrectionLevel]="correctionLevel"
  [value]="value"
  cssClass="bshadow"></ngx-qrcode> -->
              <div class="mb-3">
                <button type="submit" class="btn btn-outline-primary" (click)="onBooking()">
                  Proceed To Pay
               </button>
               <!-- <button type="reset" class="btn btn-outline-danger">
                Cancel
             </button> -->
                <!-- <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                 Save
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="assets/img/Scanner.jpg" height="350px" width="250px">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" (click)="onBooking()">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div> -->
              </div>
            </form>
            </div>
        </div>
        <!-- <div class="row mb-4">

            <h4>Popular Localities</h4>
            <h6>Explore grounds & venues in and around popular areas of your city</h6>
        
            <div class="col">
                <a class="btn btn-outline-primary m-2" (click)=toggleDisplayDiv()>Punawale (1)</a>
                <a class="btn btn-outline-primary m-1">Tahawade (2)</a>
                <a class="btn btn-outline-primary m-2">Baner (2)</a>
            
                <a class="btn btn-outline-primary m-2">Aundh (3)</a>
                <a class="btn btn-outline-primary m-2">Baner (2)</a>
                <a class="btn btn-outline-primary m-2">Balewadi (2)</a>
            
                <a class="btn btn-outline-primary m-1">Tahawade  (2)</a>
                <a class="btn btn-outline-primary m-2">Baner (2)</a>
                <a class="btn btn-outline-primary m-2">Balewadi (2)</a>
            </div>

        </div>
        <div class="row" *ngIf="isShowDiv">

            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td>
                        <img src="assets/img/cricket.jpg" class="card-img-top rounded mx-auto d-block " alt="...">
                      </td>
                      <td>
                        Address : Punavale
                      </td>
                      <td>
                        <a class="btn btn-success" onclick="">Book Now</a>
                      </td>
                    </tr>
                 
                  </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item" [class.disabled]="pager.currentPage === 1">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li class="page-item" *ngFor="let page of pager.pages" [class.active]="pager.currentPage === page">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li class="page-item" [class.disabled]="pager.currentPage === pager.totalPages">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                </ul>
              </nav>
        </div> -->

    </div>


</div>
