<div class="container-fluid p-4">
    <div class="container text-center">
        <div class="row mb-2">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="img-hover-zoom">
                    <img src="assets/img/cricket.jpg" class="card-img-top rounded mx-auto d-block " alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Cricket</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary"  routerLink="/location">Select Your Location</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="img-hover-zoom">
                    <img src="assets/img/football.jpg" class="card-img-top rounded mx-auto d-block" alt="...">
                
                </div>
                <div class="card-body">
                  <h5 class="card-title">Foot Ball</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="img-hover-zoom">
                    <img src="assets/img/basketball.jpg" class="card-img-top rounded mx-auto d-block" alt="...">
                
                </div>
                <div class="card-body">
                  <h5 class="card-title">Basket Ball</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <div class="card" style="width: 18rem;">
                <div class="img-hover-zoom">
                    <img src="assets/img/tennis.jpg" class="card-img-top rounded mx-auto d-block" alt="...">
                 
                </div>
                  <div class="card-body">
                    <h5 class="card-title">Tennis</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="img-hover-zoom">
                        <img src="assets/img/football.jpg" class="card-img-top rounded mx-auto d-block" alt="...">
                    
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Foot Ball</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="img-hover-zoom">
                        <img src="assets/img/basketball.jpg" class="card-img-top rounded mx-auto d-block" alt="...">
                    
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Basket Ball</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
</div>